* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gone {
	display: none;
}

canvas {
	border: 1px solid white;
}

#gameCanvas {
	background: linear-gradient(in hsl, black, hsl(263, 76%, 8%));
}

.gameContainer {
	display: flex;
	align-items: flex-start;
}

.menuContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.menuContainer > * {
	grid-row: 1;
	grid-column: 1;
}

#menus {
	z-index: 10;
}