* {
	margin: 0;
	font-family: sans-serif;
}

html,
body {
	height: 100%;
}

body {
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gone {
	display: none;
}

.gameContainer {
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: 0.5fr 1fr 0.5fr;
}

#gameCanvas {
	grid-row: 1 / 4;
	grid-column: 1 / 4;
	image-rendering: crisp-edges; /* for firefox */
	image-rendering: pixelated; 
}

#menus {
	z-index: 10;
	display: flex;
	align-items: center;
	flex-direction: column;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

#menus button {
	margin: 0.5em 0.5em 0em;
	padding: 0.2em;
	background: hsl(263, 13%, 19%);
	color: white;
	appearance: none;
}

#menus span {
	margin: 0.5em 0.5em 0em;
	padding: 0.2em;
	background: hsl(263, 13%, 19%);
	color: white;
}

#menus > button {
	width: 85%;
}

#menus > .key {
	display: flex;
	width: 85%;
}

#menus > .key > button {
	justify-self: left;
}

#menus > .key > .spacer {
	flex-grow: 2;
}

#menus > .key > span {
	justify-self: right;
}

#menus > .slider {
	display: flex;
	width: 95%;
}

#menus > .slider > input {
	flex-grow: 2;
}
